@tailwind base;
@tailwind components;
@tailwind utilities;


/*bulles  */
.bul  {
  width: 1em;
  height: 1em;
  margin: 5px;
  border-radius: 10px;
  transition: background 2s ease;
  background: #90DBF4;
}
.bul2  {
  width: 1em;
  height: 1em;
  margin: 5px;
  border-radius: 10px;
  transition: background 2s ease;
  background: #90DBF4;
}

/* nav */
.menu-wrapper {
    top: 15vh;
    left: -100%;
    font-size: 50px;
    transition: all .5s ease-in-out;
}

#burger-checkbox:checked ~ .menu-wrapper {
    left: 10%;
}

.navigation a {
    color: black;
    transition: all .2s ease-in-out;
}

.navigation a:hover {
    color: #90DBF4;
}
/*  */

  #menu-accordeon ul {
    list-style:none;
    text-align: center;
  }
  
  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all 1s;
     box-shadow: none;
  
  }
  #menu-accordeon a {
    display:block;
    text-decoration: none;
  }
 
  #menu-accordeon li:hover li {
    max-height: 15em;
  }